
.top-menu {
  height:100px; 
  width:100%;
}

.container {
  width:1200px;
  margin:0 auto;
}

.menu {
  float:left;
  width:500px; 
  min-height:500px;
}

.content {
  margin-left: 500px; 
  min-height:500px;
}

// ------

.standart-form {
  width: 500px;
  margin: 50px;
}

.standart-div {
  margin: 50px;
}

.standart-head {
  margin: 50px;
}

.standart-message {
  margin: 50px;
  padding: 10px;
}