
.top-menu {
  height:100px; 
  width:100%;
}

.container {
  width:1200px;
  margin:0 auto;
}

.menu {
  float:left;
  width:250px; 
  min-height:500px;
}

.content {
  margin-left: 250px; 
  min-height:500px;
  padding: 20px;
}

.login-form {
  width: 300px;
  margin: 100px auto;
}

.login-form input {
  margin: 20px 0;
}

// ------

.standart-form {
  width: 500px;
  margin: 50px;
}

.standart-div {
  margin: 50px;
}

.standart-head {
  margin: 50px;
}

.standart-message {
  margin: 50px;
  padding: 10px;
}

// заказы

.order-item {
  overflow: hidden;
  overflow: hidden;
  padding: 10px;
}

.order-left-part {
  float: left;
  width: 650px;
  padding: 10px;
}

.order-title {
    font-size: 20px;
}

.order-right-part {
    padding: 10px;
    margin-left: 650px;
}

.order-price {
    font-size: 30px;
    color: green;
    font-style: italic;
}


